.main
	width 100%
	.m-con
		width 1190px
		height 500px
		margin 0 auto
		background-color rgb(33,46,72)
		.header
			height 90px
			background-color rgb(52,83,145)
			.logo
				float left
				width 150px
				height 65px
				margin-right 70px
				background url(../img/ali.png) no-repeat center 12px
			ul
				display block
				li
					float left
					margin 0 18px
					a
						line-height 90px
						font-size 16px
						color rgb(255,255,255)
					
			.user
				float right
				.nav-item
					margin 0 18px
					display inline-block
					a
						line-height 90px
						font-size 14px
						color rgb(255,255,255)
h2
	text-align center
	font-size 36px
.newer
	width 100%
	.new-con
		width 1190px
		height 700px
		margin 0 auto
		background-color rgb(255,255,255)	
		.free
			float left
			h3
				font-size 24px
		.more
			float right
			h3
				font-size 24px
			
.solution
	width 100%
	background-color rgb(52,83,145)
	.layout
		height 566px
		h2
			padding-top 55px
		
.visual
	width 100%
	background-color rgb(255,255,255)
	.layout
		height 586px
		
.layout
	width 1190px
	margin 0 auto
	
	
		